{% extends 'base.html.twig' %}

{% block body %}

{% include "_header.html.twig" %}

<section class="main container-fluid container-lg">
    <div id="comment" class="d-flex justify-content-center flex-column mx-auto mt-4 py-4 px-3"></div>
    <h1 class="mb-4">Edit Comment</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

    {#<a href="{{ path('comment_index') }}">back to list</a>
    {{ include('comment/_delete_form.html.twig') }}#}
    </div>
</section>

{% include "_footer.html.twig" %}

{% endblock %}
