<footer class="pt-5 pb-3 px-4">
    <p class="mb-2">Author: juandemarr&#169;</p>
    <p class="mb-2">Description: Blog of videogames. The admin can create, edit and delete them. The admin and the users can create comments, edit them and delete the ones created by them. The admin can delete any comment. Login and register.</p>
    <p class="mb-2">Technologies used: Symfony 5, Mysql, SASS, Bootstrap 4.6, CSS3, HTML5. Responsive design.</p>
</footer>