<form class="d-flex justify-content-center" method="post" action="{{ path('videogame_delete', {'id': videogame.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ videogame.id) }}">
    <button class="btn btn-violet">Delete</button>
</form>
